* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0e0e0e;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

#root {
  height: 100dvh;
}
